.catalog {
  padding: 100px 0;
}
.catalog__wrap {
  padding-bottom: 170px;
  display: flex;
  justify-content: space-between;
}
.catalog__block {
  position: relative;
}
.catalog__img {
  position: absolute;
  left: 60px;
  top: 130px;
  background: url("../../assets/img/catalog.png") no-repeat 100% 100%/cover;
  display: block;
  width: 930px;
  height: 630px;
}
.catalog__title {
  font-size: 47px;
  font-weight: 400;
  max-width: 430px;
}
.catalog__title span {
  font-weight: 700;
}