.footer {
  padding: 34px 0;
  background-color: #373739;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__rights {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.footer__politics {
  color: #E5B53E;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 2px solid;
}