.main {
&__wrap {
    max-width: 460px;
  }

  &__title {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 16px;
    & span {
      font-weight: 600;
    }
  }

  &__text {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 42px;
    max-width: 323px;
    & span {
      font-weight: 600;
    }
  }

  &__btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 42px;
    background: #feaa01;
    text-transform: uppercase;
  }
}
