.ideal-home{
    padding: 30px 0;
    &__title{
        font-size: 47px;
        font-weight: 900;
        text-align: center !important;
        margin-bottom: 30px;
        & span{
            font-weight: 400;
        }
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    
    &__check{
        font-size: 18px !important;
        font-weight: 700 !important;
        padding: 14px 53px !important;
        border-radius: 7px;
    }

    &__wrap{
        position: relative;
    }

    &__dogovor{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #FEFEF8;
        padding: 16px 30px 20px 30px;
        width: 151px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 40px 0 0 0;
        box-shadow: -9px -2px 18px -5px rgba(0, 0, 0, 0.64);
    }

    &__house{
        margin-bottom: 15px;
    }

    &__line{
        position: relative;
        height: 1px;
        width: 90px;
        background-color:  #EFAD3D;
        margin: 24px 0;
        &::after{
            position: absolute;
            top: 10px;
            left: 20px;
            content: '';
            display: block;
            width: 55px;
            height: 1px;
            margin-bottom: 10px;
            background-color:  #EFAD3D;
        }
        &::before{
            position: absolute;
            top: -10px;
            left: 20px;
            content: '';
            display: block;
            width: 55px;
            height: 1px;
            margin-bottom: 10px;
            background-color:  #EFAD3D;
        }
    }

    &__information{
        font-size: 15px;
        font-weight: 400;
        color: #505457;
        margin-bottom: 15px;
        text-align: center;
    }

}