.modal {
  position: absolute;
  display: block;
  left: calc(50% - 300px);
  top: 25%;
  z-index: 99;
  background-color: rgb(40, 9, 9);
  padding: 50px;
  border-radius: 4px;
}
.modal__close {
  position: relative;
  text-align: right;
  top: -25px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input {
  padding: 5px 5px;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 20px;
}
.modal__textarea {
  padding: 5px 5px;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 10px;
}
.modal__btn {
  padding: 5px 5px;
  border-radius: 4px;
  width: 300px;
  text-align: center;
  background-color: #F3B43F;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.hide {
  display: none;
}