.review{
  &__block{
    position: relative;
    width: 360px;
    height: 230px;
    background-color: #fff;
    border-radius: 40px;
    padding: 27px 29px;
  }

  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info{
    max-width: 123px;
    margin-bottom: 11px;
  }

  &__subtitle{
    color: #363539;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 11px;
  }

  &__date{
    color: #6D7176;
    font-size: 13px;
    font-weight: 400;
  }

  &__text{
    font-size: 13px;
    font-weight: 400;
    max-width: 250px;
  }

  &__link{
    position: absolute;
    color: #F3B43F;
    font-size: 13px;
    font-weight: 500;
    bottom: 40px;
    right: 45px;
    border-bottom: 1px solid;
  }
}