.rating {
  display: flex;
  margin-right: 50px;
}
.rating__flag {
  background-color: #84b73d;
  position: relative;
  top: -25px;
  padding: 33px 10px 21px 10px;
  margin-right: 15px;
}
.rating__flag::after {
  position: absolute;
  left: -1px;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 26px;
  border-left-width: 26px;
  border-bottom: 19px solid rgba(51, 51, 52, 0.83);
}
.rating__rate {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.rating__text {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  width: 130px;
}