.slider{
  &__block{
      position: relative;
      width: 525px;
      height: 295px;
  }
  &__wrap{
      padding: 30px 43px;
  }
  &__img{
      position: absolute;
      z-index: -1;
  }
  &__subtitle{
      font-size: 27px;
      color: #fff;
      font-weight: 500;
      max-width: 312px;
      margin-bottom: 19px;
  }
  &__text{
      font-size: 14px;
      color: #fff;
      font-weight: 400;
      max-width: 257px;
      margin-bottom: 28px;
  }
  &__btn{
      color: #000;
      background: #fff;
      padding: 14px 54px;
  }
}