.popular{
    padding-top: 20px;
    &__title{
        font-size: 47px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 49px;
    }

    &__choice{
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;
    }

    
    &__all{
        justify-self: flex-end;
        color: #F7D047;
        font-size: 13px;
        font-weight: 500;
        border-bottom: 1px dashed ;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
    }
    &__pic{
        width: 100%;
    }
    &__info{
        padding: 28px;
    }
    &__name{
        font-size: 29px;
        font-weight: 900;
        margin-bottom: 16px;
    }
    &__card{
        max-width: 350px;
        background-color: #fff;
    }

    &__block{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        &_2{
            margin-bottom: 7px;
            &:last-child{
                margin-bottom: 25px;
            }
        }
    }
    &__dim{
        font-size: 13px;
        font-weight: 400;
        & span{
            font-weight: 800;
        }
    }
    &__type{
        display: flex;
        align-items: center;
        &_right{
            font-weight: 700;
            padding-bottom: 10px;
            line-height: 0.6;
            & span{
                color: #73B918;
                font-size: 31px;
                font-weight: 800;
            }
        }
        &::before{
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            background-color: #85B440;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    &__btn{
        padding: 23px 16px;
        width: 261px;
        margin-right: 15px;
        & p{
            display: flex;
            font-size: 10px;
            font-weight: 800;
            &::after{
                content: '';
                display: block;
                width: 9px;
                height: 16px;
                margin-left: 9px;
                background: url('../../assets/img/arrow_right.svg') no-repeat center center/cover;
            }
        }
        
    }
    &__bottom{
        display: flex;
        align-items: center;
    }
    &__plan{
        display: flex;
        align-items: center;
        color: #B8B8BA;
        font-size: 9px;
        font-weight: 400;
        &::before{
            content: '';
            display: block;
            width: 20px;
            height: 10px;
            background: url('../../assets/img/sber.svg') no-repeat center center/cover;
            margin-right: 9px;
        }
    }
}

